@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;

}

html{
font-size:  65.5%;

}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  color: rgba(7, 2, 75, 0.993);
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow();
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  color: rgb(22, 1, 97);
  font-weight: 800;
  cursor:  pointer;
  transition: 0.5 ease;
}

.logo:hover{
  transform: scale(1.1);

}

nav a{
  font-size: 1.8rem;
  color: rgba(10, 6, 241, 0.466);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 3px solid transparent;

}

nav a:hover,
nav a.active{
  color: rgb(2, 12, 99);
  border-bottom: 3px solid rgb(3, 24, 145);
}

@media(max-width:995px){
  nav{
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 1rem solid;
    background-color: rgb(248, 248, 248);
    border-top: rem solid rgb(0, 0, 0);
  }

  nav.active{
    display: block;
  }

  nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;

  }

  nav a:hover,
  nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5 rem solid rgb(3, 26, 133);
  }

}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;

}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: aliceblue;
}

.home .home-content h1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span{
  color: rgb(0, 0, 0);

}

.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-img img{
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid black;
  cursor: pointer;
  transition: 0.2s linear;

}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid rgb(7, 2, 75, 0.993);
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3 ease;

}

.social-icons a:hover{
  color: aliceblue;
  transform: scale(1.3)translate(-5px);
  background-color: rgb(2, 70, 97);
  box-shadow: 0 0 25px rgb(2, 70, 97);
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: aliceblue;
  border-radius: 4rem;
  font-size: 2rem;
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 600; 
  border: 0.2rem solid rgb(7, 2, 75, 0.993);
  transition: 0.3 ease;
  cursor: pointer;

}

.btn:hover{
  transform: scale3d(1.03);
  background-color: rgb(2, 70, 97);
  color: rgb(240, 237, 237);
  box-shadow: 0 0 25px rgb(2, 70, 97);

}

.typing-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  white-space: nowrap;

}

.typing-text span{
  position: relative;
  display: inline-block;

}

.typing-text span::before{
  content: "Software Developer";
  color: rgb(0, 0, 0);
  animation: words 20s infinite;
}

.typing-text span::after{
  content: "";
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 2px;
  height: 100%;
  border-left: 3px solid aliceblue;
  right: -8px;
  animation: cursor 0.6s infinite;

}

@keyframes cursor{
  to{
    border-left: 3px solid aliceblue;
  }
}

@keyframes words{
  0%, 25%{
    content: "CyberSecurity Certified";
  }
  26%, 50%{
    content: "Software Developer";
  
  }
  51%, 75%{
    content:"Web Designer";
  
  }

  76%, 100%{
    content:"College Student";
  }
 
}

@media(max-width:1000px){
  .home{
    gap: 4rem;
    
  }
}

@media(max-width:995px){
  .home{
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3{
    font-size: 2.5rem;

  }

  .home-content h1{
    font-size: 5rem;

  }
  
  .home-img img{
    width: 70vh;
    margin-top: 4rem;
  }

}
